VITE_POCKETBASE_URL=http://127.0.0.1:8090
POCKETBASE_URL=http://127.0.0.1:8090
POCKETBASE_SUPERUSER_EMAIL=
POCKETBASE_SUPERUSER_PASSWORD=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
POCKETBASE_TEMP_PASSWORD=ChangeMe123!
SMOKE_EMAIL=
SMOKE_PASSWORD=
